* {
	box-sizing: border-box;
}

textarea {
	resize: none;
}

.form {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.form-field {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
}

.form-field label {
	margin-bottom: 5px;
}

.form-field input {
	margin: 0;
	padding: 6px 10px;
	border-radius: 2px;
	border: 1px solid thistle;
	font-size: 20px;
}

.form-field input::placeholder {
	color: thistle;
}

.group {
	margin-bottom: 20px;
}

.group-title {
	margin-top: 0;
	margin-bottom: 10px;
}

.topic-options,
.exp-options {
	padding: 0;
	margin: 0;
	list-style: none;
}

.topic-options input[type="checkbox"] {
}

.topic-options label {
	font-size: 20px;
	margin-left: 10px;
}

.comment {
	padding: 8px;
}
